header 
    a(href="/").header__logo 
        i.fa-solid.fa-bars
        img(src="upload/ribbon.png").header__img
        span.header__text="withpink"
    nav
        ul 
            li 
                a(href="/search")
                    i.fas.fa-search
            if loggedIn
                li  
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/videos/upload") Upload
                li 
                    a(href="/users/logout").header__btn Log out
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === ""
                            span=":)"
                        else 
                            if loggedInUser.avatarUrl 
                                if loggedInUser.avatarUrl.includes("github")
                                    img.header__avatar(src=loggedInUser.avatarUrl, crossorigin)
                                else
                                    img.header__avatar(src=loggedInUser.avatarUrl, crossorigin)
                            //- if loggedInUser.avatarUrl && loggedInUser.avatarUrl.includes("github")
            else 
                li 
                    a(href="/join") Join
                li 
                    a(href="/login").header__btn Login
